@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// Global styles
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
}

// Header
.d-header {
  height: 3.5em;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
}

// Buttons
.btn {
  padding: 0.5em 0.8em;
  border-radius: .5rem;
  &:focus, 
  &:active {
    outline: 1px solid #bfd0ff;
  }
}

.btn.btn-default {
  background: transparent;
  color: var(--primary);
  font-size: var(--font-down-1);
  &.btn-icon-text {
    border: 1px solid var(--primary-low-mid);
  }
  &:focus,
  &:hover, 
  &.btn-hover {
    background: white;
    color: var(--tertiary);
    border-color: var(--tertiary);
    & .d-icon {
      color: var(--tertiary);
    }
  }
  &:active, 
  &.btn-active {
    background-color: inherit;
    background-image: none;
    border-color: var(--tertiary);
  }
}

// Make icons smaller
.svg-icon, 
.svg-icon-title {
  height: 0.8em;
  width: 0.8em;
}

// Filters
.list-controls {
  .combo-box {
    .combo-box-header {
      color: var(--primary);
      border: 1px solid #d3d3d3;
      height: auto;
      border-radius: .5rem;
      font-family: "Source Serif Pro", serif;
      font-style: italic;
      &:hover {
        border-color: var(--tertiary);
        .selected-name, 
        .caret-icon { 
          color: var(--tertiary);
        }
      }
    }
    .select-kit-header {
      padding: .4em;
      .selected-name,
      .caret-icon { 
        color: var(--primary-medium);
      }
      &:not(.btn) {
        // padding-left: 0.7em;
        &:focus, 
        &:active {
          outline: 1px solid #bfd0ff;
        }
      }
    }
  }
}

.select-kit-body {
  border-radius: 1rem !important;
  .select-kit-row[data-value="all-categories"], 
  .select-kit-row[data-value="no-categories"] {
    color: var(--primary);
    font-weight: 400;
  }
  // Scrollbar
  .select-kit-collection {
    &::-webkit-scrollbar { width: .4em; }
    &::-webkit-scrollbar-thumb { background-color: #d3d3d3; }
  }
  // Search - Fix background and font size
  .no-content, 
  .is-loading, 
  .results-count {
    background: transparent;
  }
}

// Navigation buttons
.nav-pills>li {
  margin: 0 0.5em;
  a {
    color: var(--primary-medium);
    
    padding: 0.25em 0 0;
    height: 2rem;
    font-family: "Source Serif Pro", serif;
    text-transform: lowercase;
    &.active {
      color: inherit;
      background-color: inherit;
      border-bottom: 1px solid var(--primary-medium);
    }
    // &:focus,
    &:hover {
      color: var(--tertiary);
      background-color: inherit;
      border-bottom: 1px solid var(--tertiary);
    }
  }
}

// Date view
.select-kit.dropdown-select-box.period-chooser {
  .period-chooser-header .top-date-string {
    font-size: var(--font-down-2);
  }
  .period-chooser-row {
    font-size: var(--font-0);
    font-family: "Source Serif Pro", serif;
    font-weight: normal;
  }
}
#list-area .top-lists h2 {
  margin: 0.5em 0 0.2em;
}

// Table view //
tr, .topic-list-item {
  // border-bottom: 1px solid #f0f0f0;
}
thead.topic-list-header {
  padding-bottom: .5em;
  line-height: var(--line-height-small);
  font-size: var(--font-down-1);
  .topic-list-data {
    padding-bottom: .4em;
  }
}
tbody {
  // border-top: 2px solid #dfdfdf;
}
.topic-list {
    .link-top-line {
    font-family: "Source Serif Pro", serif;
    }
    .topic-excerpt {
      // font-size: var(--font-down-1);
      color: var(--primary-medium);
      line-height: var(--line-height-medium);
    }
  }

// Categories
// Box style
.badge-wrapper.box {
  padding: 1px 6px 1px 6px;
  font-style: italic;
  font-family: "Source Serif Pro", serif;
  span.badge-category-bg {
    border-radius: .2rem;
    opacity: .6;
  }
  // .category-name {
  //   color: var(--blend-primary-secondary-5);
  // }
}

// Tags
.link-bottom-line .discourse-tag {
  font-style: italic;
  font-family: "Source Serif Pro", serif;
}

// Category view //
.category-list {
  .category-name {
    font-weight: normal;
  }
  .category-description {
    font-size: var(--font-down-1);
  }
  td {
    padding: 1.5em 0.25em;
  }
}

// Aside content
aside.onebox {
  border: 1px solid #d3d3d3;
  border-radius: 0.7em;
}

// Heatmap high
.heatmap-high {
  color: var(--tertiary) !important;
}