@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

// --danger-low-mid: #ff80ff;
// --danger-medium: #ff00ff;
// --danger-hover: #ff0000;

// Global styles
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
}

// Buttons
.btn {
  font-size: var(--font-down-1);
  padding: 0.5em 0.8em;
  border-radius: 2rem;
}

.btn.btn-default {
  background: transparent;
  color: var(--primary);
  &.btn-icon-text {
    border: 1px solid var(--primary-low-mid);
  }
  &:hover, 
  &.btn-hover {
    background: white;
    color: var(--tertiary);
    border-color: var(--tertiary);
    & .d-icon {
      color: var(--tertiary);
    }
  }
  &:focus {
    background: transparent;
  }
  &:active, 
  &.btn-active {
    background-color: inherit;
    background-image: none;
    border-color: var(--tertiary);
  }
}

// Make icons smaller
.svg-icon, 
.svg-icon-title {
  height: 0.8em;
  width: 0.8em;
  // opacity: .8;
}

// Filters
.list-controls {
  .combo-box {
    .combo-box-header {
      color: var(--primary);
      border: 1px solid #d3d3d3;
      height: auto;
      border-radius: 2rem;
      font-family: serif;
      font-style: italic;
      &:hover {
        border-color: var(--tertiary);
        .selected-name, 
        .caret-icon { 
          color: var(--tertiary);
        }
      }
    }
    .select-kit-header {
      padding: .4em;
      .selected-name,
      .caret-icon { 
        color: var(--primary-medium);
      }
      &:not(.btn) {
        padding-left: 0.7em;
      }
    }
    .select-kit-body {
      border-radius: 1rem;
      .select-kit-row[data-value="all-categories"], 
      .select-kit-row[data-value="no-categories"] {
        color: var(--primary);
        font-weight: 400;
        font-size: var(--font-down-1);
      }
      .discourse-tag,
      .filter-input {
        font-size: var(--font-down-1);
      }
      // Scrollbar
      .select-kit-collection {
        &::-webkit-scrollbar { width: .4em; }
        &::-webkit-scrollbar-thumb { background-color: #d3d3d3; }
      }
      // Search - Fix background and font size
      .no-content, 
      .is-loading, 
      .results-count {
        background: transparent;
        font-size: var(--font-down-1);
      }
    }
  }

  // Delete outline on focus & active
  .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
  .select-kit.single-select .select-kit-header:not(.btn):focus, 
  .select-kit.single-select .select-kit-header:not(.btn):active {
    outline: none;
  }
}

// Navigation buttons
.nav-pills>li {
  margin: 0 0.5em;
  a.active, 
  button.active {
    color: inherit;
    background-color: inherit;
    border-bottom: 1px solid var(--primary-medium);
  }
}

.nav-pills>li>a, 
.nav-pills>li button {
  color: var(--primary-medium);
  font-size: var(--font-0);
  padding: 0.25em 0 0;
  height: 2rem;
  font-family: serif;
  text-transform: lowercase;
}

.nav-pills>li>a:hover, 
.nav-pills>li button:hover {
  color: var(--tertiary);
  background-color: inherit;
  // border-bottom: 1px solid var(--quaternary);
}


// Categories / Tags
.discourse-tags .discourse-tag,
.badge-wrapper .badge-category .category-name {
  font-style: italic;
  font-family: serif;
  padding-right: 4px;
}

.badge-wrapper.bullet {
  margin-right: 4px;
}

.discourse-tags .discourse-tag.simple:first-child:before, 
.list-tags .discourse-tag.simple:first-child:before, 
.search-category .discourse-tag.simple:first-child:before {
  content: "- ";
  margin-right: 4px;
}


// Category page

.category-list {
  margin-left: 1px;
  .category-name {
    font-weight: normal;
    font-size: 1em;
  }
  td {
    padding: 1.5em 0.25em;
  }
  tbody .category h3 {
    font-size: $font-up-3;
  }
}

// Topic
.topic-list-main-link a.title, 
.topic-list .main-link a.title, 
.latest-topic-list-item .main-link a.title {
  font-family: serif;
  font-size: var(--font-up-1);
}

.topic-list .topic-excerpt {
  font-size: var(--font-down-1);
  color: var(--primary-medium);
  line-height: var(--line-height-medium);
}

// Header
.d-header {
  height: 3.5em;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
}